
<div  class="fixed-footer" align="center">
    <span>&copy;Developed & Maintained by:
        <details style="display: inline;">
            <summary style="display: inline;">
                
         <!-- <a href="https://www.erainfotechbd.com/" >  -->
               <img src="../../assets/Image/download.png" alt="" height="30px">
         <!-- </a>  -->
        </summary>
         <p style="display: inline;">
            <a href="https://www.erainfotechbd.com/pages/about?item=3"> About </a>
         </p> &nbsp;
         <p style="display: inline;">
            <a href="https://www.erainfotechbd.com/?item=1" >  Home Page </a>
        </p> &nbsp;
        <p style="display: inline;" >
            <a href="http://job.erainfotechbd.com:8888/hr/f?p=100:1:3051460116297:"> Career</a>
        </p> &nbsp;
        <p style="display: inline;">
            <a href="https://www.erainfotechbd.com/contacts?item=32">Address</a>
        </p>
        </details> </span>

</div>

