<div>
    <div class="navbar">
        <a routerLink="/Home" class="active">Home</a>
        <a routerLink="BrandInfo/Create">BrandInfo</a> 
        <a routerLink="VendorInfo/Create">VendorInfo</a> 
        <a routerLink="LockerSpecification/Create">LockerSpecification</a> 
        <a routerLink="DrawerAllocate/Create">DrawerAllocate</a> 
        <a routerLink="DrawerRelease/Create">DrawerRelease</a> 
        <a routerLink="/specification1">Practice</a> 
        <a routerLink="/signIn">LogIn</a>
    </div>
    
</div>

  
<!-- <mdb-item>
    <mdb-item-head mdbWavesEffect>
        <mdb-icon fas icon="tachometer-alt" class="mr-1"></mdb-icon> Dashboards
    </mdb-item-head>
    <mdb-item-body>
        <ul>
            <li>
                <a routerLink="dashboards/v1" class="waves-effect" mdbWavesEffect>Version 1</a>
            </li>
            <li>
                <a routerLink="dashboards/v2" class="waves-effect" mdbWavesEffect>Version 2</a>
            </li>
            <li>
                <a routerLink="dashboards/v3" class="waves-effect" mdbWavesEffect>Version 3</a>
            </li>
            <li>
                <a routerLink="dashboards/v4" class="waves-effect" mdbWavesEffect>Version 4</a>
            </li>
            <li>
                <a routerLink="dashboards/v5" class="waves-effect" mdbWavesEffect>Version 5</a>
            </li>
        </ul>
    </mdb-item-body>
</mdb-item> -->